/* Font */
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Doto:wght,ROND@100..900,0..100&display=swap");

/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html,
body {
  font-family: "Hind", "Noto Sans JP", sans-serif;
  font-size: 100%;
  font-weight: 500;
  word-spacing: 1px;
  font-feature-settings: "palt" 1;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: left;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6;
}

* {
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

.bg-Top {
  background-image: url("/top-image.svg");
}

/* MemeberStackModal */
.ms-modal__figure {
  width: 144px;
  display: block !important;
  -webkit-box-align: start !important;
}

.ms-modal__title {
  margin-bottom: 16px !important;
  margin-top: 0px !important;
  font-size: 14px !important;
  letter-spacing: 0.75px !important;
}