.audioPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(13, 15, 24, 0.04);
  padding: 12px 24px 12px 20px;
  border-radius: 20px;
}

.playPauseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  min-width: 40px;
  height: 40px !important;
  min-height: 40px;
  background-color: #ff823b;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.playPauseButton svg {
  position: relative;
  left: 1.25px;
  width: 12px;
  height: auto;
}

.progressBar {
  width: 100%;
  height: 3px;
  cursor: pointer;
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  appearance: none;
  background-color: #ddd; /* プログレスバー全体の背景色 */
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: #717070; /* サム（スライダーのノブ）の色 */
  box-shadow: 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  cursor: pointer;
}

/* 進行状況の色を変更 */
.progressBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  border-radius: 50%;
}

.timeInfo {
  width: auto;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  font-size: 14px;
}
@media (min-width: 768px) {
  /* tablet以上のサイズ */
  .rhap_play-pause-button {
    width: 64px !important;
    height: 64px !important;
    font-size: 64px !important;
    color: #ff823b !important;
  }
}

@media (max-width: 767px) {
  /* それ以下のディスプレイサイズ */
  .rhap_play-pause-button {
    width: 44px !important;
    height: 44px !important;
    font-size: 44px !important;
    color: #ff823b !important;
  }
}
